html
    head
        title="Calories"
        link(rel="stylesheet" href="style.css")
    body
        div#content
            div#header
                h1 Calories
            div#calendar_and_items
                div#calendar Calendar
                div#items Items
