html
    head
        title="Calories"
        link(rel="stylesheet" href="style.css")
    body
        h1.
            Calories
        div#calendar_and_items
            div#calendar
            div#items
